body {
 background: rgb(216, 207, 119);
 margin: 0;
}

main.details-open {
 /* display: grid; */
 grid-template-columns: repeat(2, 60%, 40%);
}

.post-details {
 position: fixed;
 right: 0;
 top: 0;
 width: 40%;
 height: 100vh;
 background: #fff;
 padding: 1em;
}

.post-details.show {
 box-shadow: 0 0 0 100vw #00000078;
}
.grid {
 display: grid;
}
